<nav class="nav flex-md-column">
    <a class="nav-link" href="/"><i class="fas fa-globe"></i></i> Get a match!</a>
    <a class="nav-link" href="/chat"><i class="fas fa-comments"></i> Chats</a>
    <a class="nav-link" href="/likelist"><i class="fas fa-user-check"></i></i> Likelist</a>
    <a class="nav-link" href="/blocklist"><i class="fas fa-user-lock"></i></i> Blocklist</a>
    <a class="nav-link" href="/notifications"><i class="fas fa-bell"></i> Notifications <span id="counter" class="badge badge-pill badge-light">{% if count %}{{ count }}{% endif %}</span></a>
    <a class="nav-link" href="/settings"><i class="fas fa-cog"></i> Settings</a>
</nav>