{% extends "/layouts/default.twig" %}
{% block title %} - Reset password{% endblock %}
{% block content %}
    <div id="resetpass"></div>
    <script src="/dist/resetpass.js"></script>
{% endblock %}