{% extends "/layouts/default.twig" %}
{% block title %} - Confirm email{% endblock %}
{% block content %}
    <div class="container text-center mt-5">
        <div class="card bg-light mb-3 text-center m-auto" style="max-width: max-content">
            <div class="card-header" style="background-color: #17a2b8">Account confirmation</div>
            <div class="card-body">
                <h5 class="card-title">{{ message }}</h5>
                <a href="/account/login" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
{% endblock %}