{% extends "/layouts/default.twig" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                {{ include('/layouts/nav.twig') }}
            </div>
            <div class="col-9 bg-white border rounded">
                <div id="blocklist"></div>
            </div>
        </div>
    </div>
    <script> const users = '{{ users|raw }}';</script>
    <script src="/dist/blocklist.js"></script>
{% endblock %}