{% extends "/layouts/default.twig" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                {{ include('/layouts/nav.twig') }}
            </div>
            <div class="col-9 bg-white border rounded p-0">
                <div id="chat"></div>
            </div>
        </div>
    </div>
    <script> const messages = '{{ messages }}';</script>
    <script src="/dist/chat.js"></script>
{% endblock %}