{% extends "/layouts/default.twig" %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <nav class="nav flex-column">
                    <a class="nav-link" href="#"><i class="fas fa-home"></i> Home</a>
                    <a class="nav-link" href="/profile"><i class="fas fa-address-card"></i> Profile</a>
                    <a class="nav-link" href="/settings"><i class="fas fa-user-cog"></i> Settings</a>
                </nav>
            </div>
            <div id="profile" class="col-9"></div>
        </div>
    </div>
    <script>let userData = '{{ user|raw}}';</script>
    <script src="/dist/profile.js"></script>
{% endblock %}