{% extends "/layouts/default.twig" %}
{% block title %}Settings{% endblock %}
{% block content %}
    <div id="settings"></div>
    <script>const userName = "John";</script>
    <script src="/dist/settings.js"></script>
{% endblock %}