{% extends "/layouts/default.twig" %}
{% block title %}Additional settings{% endblock %}
{% block content %}
    <div id="addSettings"></div>
    <script>const userName = "John";</script>
    <script src="/dist/addSettings.js"></script>
{% endblock %}