{% extends "/layouts/default.twig" %}
{% block title %} - Settings{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                {{ include('/layouts/nav.twig') }}
            </div>
            <div class="col-9 bg-white border rounded">
                <div id="settings"></div>
            </div>
        </div>
    </div>
    <script> const settings = '{{ settings|raw }}';</script>
    <script src="/dist/settings.js"></script>
{% endblock %}