{% extends "/layouts/default.twig" %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <nav class="nav flex-column">
                    <a class="nav-link" href="#"><i class="fas fa-home"></i> Home</a>
                    <a class="nav-link" href="/profile"><i class="fas fa-address-card"></i> Profile</a>
                    <a class="nav-link" href="/settings"><i class="fas fa-user-cog"></i> Settings</a>
                </nav>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-4 text-center">
                        <figure class="figure">
                            <img src="" alt="Profile" class="figure-img img-fluid" />
                        </figure>
                        <p>Rating</p>
                    </div>
                    <div class="col-8">
                        <p>Name: {{user['firstName']}}</p>
                        <p>Age: {this.state.data.title}</p>
                        <p>E-mail: {this.state.data.completed ? "true" : "false"}</p>
                        <p>Gender: </p>
                        <p>Location: </p>
                        <p>Sexuality: </p>
                        <p>Tags: </p>
                        <div class="d-flex">
                            <p>Biography: </p>
                            <p class="pl-2">{this.state.data.id}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}