<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="height=device-height, initial-scale=1" />
        <title>Matcha{% block title %}{% endblock %}</title>
        <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="/app/css/bootstrap.css">
        <link rel="stylesheet" href="/app/css/fontawesome.css">
        <link rel="stylesheet" href="/app/css/general.css">
    </head>
    <style>
        body {
            background-color: #f1e9e9;
        }
        html, body {
            height: 100%;
        }
    </style>
    <body>
        <div id="page-container">
            {{ include('/layouts/header.twig') }}
            {% block content %}{% endblock %}
            {{ include('/layouts/notifications.twig') }}
        </div>
        {{ include('/layouts/footer.twig') }}
